.c-card {
  border: 2px solid #333;
  box-sizing: border-box;
  display: flex;
  margin-bottom: $space_m;
  padding: 5px;
  width: 100%;
  @include mq(md){
    height: 7rem;
    padding: 3px;
  }

  &__thumbnail {
    height: 15rem;
    margin-right: $space_l;
    position: relative;
    width: 15rem;
    @include mq(lg){
      max-height: 10rem;
      max-width: 10rem;
    }
    @include mq(md){
      max-height: 5rem;
      max-width: 5rem;
    }
  }

  &__img {
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }

  &__body {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
  }

  &__title {
    font-size: $font-size_xl;
    font-weight: 600;
    margin-bottom: $space_s;
    @include mq(lg){
      font-size: $font-size_m;
    }
    @include mq(md){
      font-size: $font-size_xs;
      letter-spacing: 1px;
      line-height: 1.2;
    }
  }

  &__content {
    @include mq(lg){
      font-size: $font-size_s;
    }
    @include mq(md){
      display: none;
    }
  }

  &__footer {
    bottom: 0;
    display: flex;
    position: absolute;
    @include mq(md){
      font-size: $font-size_xs;
      letter-spacing: 1px;
    }
  }

  &__author {
    margin-right: $space_xl;
    @include mq(md){
      margin-right: $space_m;
    }
  }
}
