.c-input-file {
  height: 30rem;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}


.c-area-drop {
  background: #eee;
  display: block;
  height: 25rem;
  line-height: 25rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 40rem;
  @include mq(md){
    height: 15rem;
    line-height: 15rem;
    width: 24rem;
  }

  &.c-avatar {
    border-radius: 50%;
    height: 25rem;
    line-height: 25rem;
    width: 25rem;
    @include mq(md){
      height: 17rem;
      line-height: 17rem;
      width: 17rem;
    }

    .c-prev-img {
      border-radius: 50%;
      height: 25rem;
      line-height: 25rem;
      width: 25rem;
    }
  }
}

.c-prev-img {
  left: 0;
  position: absolute;
  top: 0;
}

.c-imgDrop-container {
  display: inline-block;
}
