.c-sidebar {
  width: 20%;
  @include mq(lg){
    width: 30%;
  }
  @include mq(md){
    margin-bottom: $space_3l;
    width: 100%;
    &:last-child{
      width: 0;
    }
  }
}

.c-side {
  &-prof {
    margin-right: $space_xl;
    @include mq(md){
      display: black;
    }

    &__name {
      font-size: $font-size_xl;
      margin-bottom: $space_l;
      @include mq(lg){
        font-size: $font-size_l;
      }
      @include mq(md){
        font-size: $font-size_m;
        margin-bottom: $space_s;
      }
    }

    &__header {
      text-align: center;
      margin-bottom: $space_l;
    }

    &__img {
      border-radius: 50%;
      height: 15rem;
      width: 15rem;
      @include mq(lg){
        max-height: 10rem;
        max-width: 10rem;
      }
    }
    &__text {
      @include mq(lg){
        font-size: $font-size_m;
      }
      @include mq(sm){
        font-size: $font-size_xs;
        letter-spacing: 1;
      }
    }
  }

  &-menu {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    margin-left: $space_xl;
    @include mq(lg){
      font-size: $font-size_m;
    }
    @include mq(md){
      display: none;
    }

    &-item {
      border-bottom: 2px solid #000;
      padding: 1rem 2rem;
      @include mq(lg){
        padding: 0.5rem 1rem;
      }
    }
  }
}
