#container {
  &-3column {
    display: flex;
    justify-content: center;
    @include mq(md){
      display: block;
    }
  }

  &-2column {
    display: flex;
    justify-content: center;

    #main {
      margin-left: 20%;
      @include mq(md){
        margin-left: initial;
      }
    }
  }
}

#main {
  width: 60rem;
  @include mq(lg){
    max-width: 70%;
  }
  @include mq(md){
    max-width: 100%;
  }
}
