.p-header {
  align-items: center;
  background: $color_main;
  display: flex;
  height: 6.5rem;
  list-style: none;
  justify-content: space-between;
  padding-left: $space_3l;
  padding-right: $space_3l;

  &__title {
    color: #fff;

    a:hover {
      color: #fff;
    }
  }
  &__nav {
    @include mq(md){
      
      position: absolute;
      top: -200%;
      transition: all .6s;
      width: 100%;
      z-index: 3;
      &.active {
        
        left: 0;
        top: 10%;
        transition: all .6s;
      }
    }
  }
  &__overray {
    @include mq(md) {
      background: rgba(255, 255, 255, .85);
      height: 100vh;
      position: fixed;
      left: 100%;
      top: -100%;
      transition: all .6s;
      width: 100%;
      z-index: 1;
      &.active {
      left: 0;
      top: 0;
      transition: all .6s;
      }
    }
  }
}

.p-menu {

  display: flex;
  height: 100%;
  @include mq(md){
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &-item {
    line-height: 6.5rem;

    &-sp {
      display: none;
      @include mq(md){
        display: block;
      }
    }
  }

  &-link {
    color: #fff;
    display: block;
    padding-left: $space_xl;
    padding-right: $space_xl;
    @include mq(md){
      color: #000;
      font-size: $font-size_xl;
      font-weight: 600;
    }

    &:hover {
      background: #fff;
      color: $color_main;
      text-decoration: none;
    }
  }
}
